{% extends 'base.html.twig' %}

{% block title %}Hello BootleController!{% endblock %}

{% block body %}
<div class="container">
<h1>MODIFY {{ bootle.name }} {{ bootle.year|date('Y')}}</h1>

{{ form(form, { attr: { novalidate: 'novalidate'}})}}
</div>
{% endblock %}
